<!DOCTYPE html>
<html>
  <head>
    <title>KriegerResourcesAssignment</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= stylesheet_link_tag 'scaffold' %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body >
    <div class="outer">
      <div class= "container">
        <div class ="header">
          <%= render :partial => 'shared/header' %>
        </div>
        <div class="main-div" id="content">
          <%= yield %>
        </div>

         <!-- <div class="footer" id="sidebar">
          <%#= render :partial => 'shared/footer' %>
        </div> --> 
      </div>
      
   </div>
  </body>
</html>